.page-title {
  color: yellow;
}

/*My videos Section*/
.videos {
  font-size: 1.5em;
}

.video-card:nth-child(even) iframe {
  order: 2;
}

.video-card:nth-child(even) .video_text {
  order: 1;
}

.video-card {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
  border: 6px solid black;
  border-radius: 5%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.video-card__iframe {
  width: 50%;
  height: auto;
  aspect-ratio: 16/9;
  border: 2px solid black;
  background-color: yellow;
  padding: 5px;
}

.video-card__informations {
  max-width: 400px;
}

.video-card__title {
  font-family: Mario256;
}

/*Media Queries*/
@media (max-width: 768px) {
  .video-card {
    flex-direction: column;
    text-align: center;
  }
  .video-card__iframe {
    order: 2;
    width: 100%;
    border: 2px solid black;
  }
}
